body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #f2f2f2; /* Light background color */
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #333; /* Darker text color */
}

form {
    max-width: 600px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ddd; /* Light border color */
    border-radius: 10px;
    background-color: #fff; /* White background */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Soft shadow */
}

form div {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"], input[type="number"], select {
    width: calc(100% - 16px);
    padding: 10px;
    border: 1px solid #ccc; /* Light border color */
    border-radius: 5px;
    box-sizing: border-box;
    margin-bottom: 10px;
    transition: border-color 0.3s ease; /* Smooth transition */
}

input[type="text"]:focus, input[type="number"]:focus, select:focus {
    outline: none;
    border-color: #4CAF50; /* Focus border color */
}

.form-section {
    display: none;
}

.image-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-gap: 20px;
}

.image-item {
    position: relative;
    width: 100%;
    padding-bottom: 100%;
    overflow: hidden;
}

.grid-image {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Soft shadow */
    transition: transform 0.3s ease; /* Smooth transition */
}

.grid-image:hover {
    transform: scale(1.5); /* Scale up on hover */
}

/* Updated button styles */
.submit-btn {
    padding: 10px 20px;
    font-size: 15px;
    color: #ffffff;
    background-color: #3498db; /* Flat blue */
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.submit-btn:hover {
    background-color: #2980b9; /* Darker blue on hover */
}
